<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>

<body>
  <h1>welcome to the task allocator</h1>
  <a href="/signup">click here to go the register page</a><br>
  <a href="/login">click here to go the login page</a><br>
  <a href="/google">click here to signup using google</a>
</body>
</html>
